@import './mixins';
.new-chat-form{
    h3 {
        margin-top: 1rem;
    }
    form {
        @include display-flex(column);
        margin: 1rem;
    }

    input {
        align-self: center;
        height: 1.5rem;
        margin-bottom: 1rem;
        width: 50%;
    }
    button {
        align-self: center;
        margin-bottom: 1rem;
        padding: 0 1rem;
        width: 50%;
        &:disabled {
                background-color: $disabled-button-violet;
            }
    }

    .userlist {
        @extend form;
        background-color: $userlist-bg-violet;
        color: $main-text-white;
        display: none;
        height: calc(100vh - 400px);
        overflow-y: auto;
        button {
            border: 2px solid $check-btn-border;
            border-radius: 50%;
            padding: 0 .4rem;
            width: initial;
        }
    }

    li {
        @include display-flex(row);
        align-items: center;
        justify-content: space-between;
        padding: .3rem 1rem;
    }

    .userlist--visible {
        display: block;
    }

    .user-selection-btn--checked {
        background-color: $checked-user-btn-violet;
    }
}
