@import './mixins';

.create-new-message-form {
    @include display-flex(row);
	button {
		border-radius: 2rem;
		height:  2rem;
		line-height: 0;
		margin: 1rem;
		padding: 1em 1rem;
		vertical-align: middle;
		&:disabled {
            background-color: $disabled-button-violet;
		}
	}

	textarea {
		border-radius: 1.5rem;
		height:  2rem;
		line-height: .75rem;
		margin: 1rem;
		padding: 1em 1rem;
		vertical-align: middle;
   		width: 100%;
	}	
}