@import './mixins';

.chat-page {
    @include display-flex (row);
	align-items: stretch;
	font-size: .8rem;
	min-height: 100%;
	width: 100%;
	overflow:hidden;

	input {
		background-color: $input-bg-violet;
		border-radius: .75rem;
		font-size: .6rem;	
	}

	textarea {
		@extend input;
	}
}