@import './mixins';

.auth-container {
        @include display-flex (column);
        align-items: center;
     * {
        display: block;
    }

    label {
		margin-top: 1rem;
	}

	input {
		border-bottom: 1px solid $input-underline-violet;
	}

    button {
		margin: 1rem auto;
        padding: 0 1rem;
        &:disabled {
            background-color: $disabled-button-violet;
        }
	}
}

.social-button {
    border-radius: .75rem;
    background-color: $buttons-bg-violet;
    color: $main-text-white;
    height: 1.5rem;
    outline: none;
    margin: 1rem auto;
    padding: 0 1rem;
    &:disabled {
        background-color: $disabled-button-violet;
     }
     
    &:hover {
        background-color: $hover-bg;
    }
}

.error {
        color: $error-text-pink;
        display: none;
        font-size: .7rem;
        margin-top: .5em;
        text-align: end;
    }
 .hidden-error {
            display: none;
        }