@import './mixins';

.profile-page {
    form{
        @include display-flex (column);
         align-items: center;
    }

    input {
		border-bottom: 1px solid $input-underline-violet;
        margin-top: 1rem;
        &[type='file']{
            font-size: .75rem;
        }
	}

    button {
        margin: 1rem auto;
        padding: 0 1rem;
        &:disabled {
            background-color: $disabled-button-violet;
        }
    }
}