// COLORS:

$aside-bg-violet: #3b3e99;
		$a-text-violet: $aside-bg-violet;
		$active-tab-bg: $aside-bg-violet;
		$header-bg-violet:$aside-bg-violet;
		$input-underline-violet: $aside-bg-violet;
		$checked-user-btn-violet: $aside-bg-violet;

$main-text-black: #000;

$main-text-white: #fff;
		$active-timer-bg-white: $main-text-white;
		$icons-white: $main-text-white;
		$messages-bg-white: $main-text-white;
		$check-btn-border: $main-text-white;


$a-hover-text-color: #f1f1fb;
		$disabled-button-violet: $a-hover-text-color;
		$input-bg-violet: $a-hover-text-color;
		$my-message-bg: $a-hover-text-color;

$buttons-bg-violet: #989ad7;
		$message-from-bg: $buttons-bg-violet;
		$menu-shadow-violet: $buttons-bg-violet;
		$menu-border-violet: $buttons-bg-violet;
		$notification-bg: $buttons-bg-violet;
		$userlist-bg-violet: $buttons-bg-violet;
		$username-color: $buttons-bg-violet;

$active-bg:#f23f79;
		$active-timer-text-pink: $active-bg;
		$error-text-pink: $active-bg;
		$header-hover-a-text: $active-bg;
		$login-notification-bg: $active-bg;


$hover-bg: #484cc4;
		$chosen-message-bg: $hover-bg;
		
$timer-bg: #3a3c8e;


// FONTS:

$font-base: 20px;